<div class="container">
<app-cookpit 
(serverCreated)="onServerAdded($event)"
(blueprintCreated)="onBluePrintAdded($event)"></app-cookpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onServerChanged()"> Changed Server Name</button>
      <button class="btn btn-danger" (click)="onDistroyServer()"> Distroy First Element</button>
     <app-server-element *ngFor="let server of serverElements"
     [srvElement]="server"
     [name]="server.name">
     <p #contentParagraph>
      <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
      <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
    </p>
    </app-server-element>
    </div>
  </div>
</div>
